<div class="row">
    <div class="col-md-6 col-sm-12 offset-md-3">
        <div *ngIf="!todoListData.length; else loadAccordion" class="alert alert-danger" role="alert">
            {{alertMessage}}
        </div>
        <ng-template #loadAccordion>
            <div class="accordion" *ngFor="let userId of getTodoListUserIds()" id="accordion-{{userId}}">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#collapse' + userId" aria-expanded="false"
                            [attr.aria-controls]="'collapse' + userId">
                            User ID: {{ userId }}
                        </button>
                    </h2>
                    <div id="collapse{{userId}}" class="accordion-collapse collapse"
                        [attr.data-bs-parent]="'#accordion-' + userId">
                        <div class="accordion-body">
                            <div class="row gx-5">
                                <div class="col-md-6">
                                    <span class="col-title">Complete Tasks</span>
                                    <div class="row" *ngFor="let todoItem of userTodoList[userId]">
                                        <div class="card todo-card complete-card" *ngIf="todoItem.completed">
                                            <span class="card-title">{{ todoItem.title }}</span>
                                            <p class="card-text">Completed: {{ todoItem.completed }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <span class="col-title">Pending Tasks</span>
                                    <div class="row" *ngFor="let todoItem of userTodoList[userId]">
                                        <div class="card todo-card pending-card" *ngIf="!todoItem.completed">
                                            <span class="card-title">{{ todoItem.title }}</span>
                                            <p class="card-text">Completed: {{ todoItem.completed }}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>